In [67]:
import numpy as np
import pandas as pd

In [122]:
df = pd.read_csv('ipl.csv')
df1 = df[["venue", "total"]]
grouped_df = df1.groupby("venue")
grouped_df
mean_df = grouped_df.mean()
mean_df
mean_df = mean_df.reset_index()
mean_df

                                                venue       total
0                                    Barabati Stadium  167.863318
1                                   Brabourne Stadium  180.468841
2                                        Buffalo Park  146.842105
3                               De Beers Diamond Oval  158.059783
4                          Dr DY Patil Sports Academy  147.568008
5   Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...  160.138365
6                 Dubai International Cricket Stadium  148.993088
7                                        Eden Gardens  156.768903
8                                    Feroz Shah Kotla  164.921619
9                                          Green Park  161.284553
10       Himachal Pradesh Cricket Association Stadium  175.901345
11                             Holkar Cricket Stadium  158.262561
12                 JSCA International Stadium Complex  148.945042
13                                          Kingsmead  151.659734
14                              M Chinnaswamy Stadium  169.657934
15                    MA Chidambaram Stadium, Chepauk  166.080208
16            Maharashtra Cricket Association Stadium  168.032556
17                                      Nehru Stadium  150.729459
18                              New Wanderers Stadium  143.952764
19                                           Newlands  145.408412
20                                    OUTsurance Oval  134.820717
21  Punjab Cricket Association IS Bindra Stadium, ...  165.102832
22         Punjab Cricket Association Stadium, Mohali  164.482223
23          Rajiv Gandhi International Stadium, Uppal  157.649562
24                       Sardar Patel Stadium, Motera  163.216981
25             Saurashtra Cricket Association Stadium  168.799024
26                             Sawai Mansingh Stadium  156.028224
27   Shaheed Veer Narayan Singh International Stadium  146.481132
28                            Sharjah Cricket Stadium  158.104839
29                               Sheikh Zayed Stadium  150.739234
30                                   St George's Park  159.004598
31                         Subrata Roy Sahara Stadium  147.710451
32                                    SuperSport Park  152.077705
33       Vidarbha Cricket Association Stadium, Jamtha  149.337838
34                                   Wankhede Stadium  164.648411

In [121]:
grouped_df = df1.groupby("venue")
grouped_df
mean_df = grouped_df.mean()
mean_df
mean_df = mean_df.reset_index()
mean_df

                                                venue       total
0                                    Barabati Stadium  167.863318
1                                   Brabourne Stadium  180.468841
2                                        Buffalo Park  146.842105
3                               De Beers Diamond Oval  158.059783
4                          Dr DY Patil Sports Academy  147.568008
5   Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...  160.138365
6                 Dubai International Cricket Stadium  148.993088
7                                        Eden Gardens  156.768903
8                                    Feroz Shah Kotla  164.921619
9                                          Green Park  161.284553
10       Himachal Pradesh Cricket Association Stadium  175.901345
11                             Holkar Cricket Stadium  158.262561
12                 JSCA International Stadium Complex  148.945042
13                                          Kingsmead  151.659734
14                              M Chinnaswamy Stadium  169.657934
15                    MA Chidambaram Stadium, Chepauk  166.080208
16            Maharashtra Cricket Association Stadium  168.032556
17                                      Nehru Stadium  150.729459
18                              New Wanderers Stadium  143.952764
19                                           Newlands  145.408412
20                                    OUTsurance Oval  134.820717
21  Punjab Cricket Association IS Bindra Stadium, ...  165.102832
22         Punjab Cricket Association Stadium, Mohali  164.482223
23          Rajiv Gandhi International Stadium, Uppal  157.649562
24                       Sardar Patel Stadium, Motera  163.216981
25             Saurashtra Cricket Association Stadium  168.799024
26                             Sawai Mansingh Stadium  156.028224
27   Shaheed Veer Narayan Singh International Stadium  146.481132
28                            Sharjah Cricket Stadium  158.104839
29                               Sheikh Zayed Stadium  150.739234
30                                   St George's Park  159.004598
31                         Subrata Roy Sahara Stadium  147.710451
32                                    SuperSport Park  152.077705
33       Vidarbha Cricket Association Stadium, Jamtha  149.337838
34                                   Wankhede Stadium  164.648411

In [115]:
df1 = df[["venue", "total"]]
df1.head()

                   venue  total
0  M Chinnaswamy Stadium    222
1  M Chinnaswamy Stadium    222
2  M Chinnaswamy Stadium    222
3  M Chinnaswamy Stadium    222
4  M Chinnaswamy Stadium    222

In [75]:
Venue = "M Chinnaswamy Stadium"
df1 = df[(df["Venue_Name"] == Venue)]
df2 = df1[['Team1', 'Team2', 'Venue_Name', 'Toss_Winner', 'match_winner', 'Toss_Name']]

                           Team1                  Team2  \
0    Royal Challengers Bangalore  Kolkata Knight Riders
10   Royal Challengers Bangalore       Rajasthan Royals
14   Royal Challengers Bangalore    Chennai Super Kings
24   Royal Challengers Bangalore        Kings XI Punjab
30   Royal Challengers Bangalore         Mumbai Indians
..                           ...                    ...
607  Royal Challengers Bangalore          Gujarat Lions
619  Royal Challengers Bangalore        Kings XI Punjab
622  Royal Challengers Bangalore  Kolkata Knight Riders
634          Sunrisers Hyderabad  Kolkata Knight Riders
635               Mumbai Indians  Kolkata Knight Riders

                Venue_Name                  Toss_Winner  \
0    M Chinnaswamy Stadium  Royal Challengers Bangalore
10   M Chinnaswamy Stadium             Rajasthan Royals
14   M Chinnaswamy Stadium          Chennai Super Kings
24   M Chinnaswamy Stadium              Kings XI Punjab
30   M Chinnaswamy Stadium               Mumbai Indians
..                     ...                          ...
607  M Chinnaswamy Stadium                Gujarat Lions
619  M Chinnaswamy Stadium  Royal Challengers Bangalore
622  M Chinnaswamy Stadium        Kolkata Knight Riders
634  M Chinnaswamy Stadium        Kolkata Knight Riders
635  M Chinnaswamy Stadium               Mumbai Indians

              match_winner Toss_Name
0    Kolkata Knight Riders     field
10        Rajasthan Royals     field
14     Chennai Super Kings       bat
24         Kings XI Punjab     field
30          Mumbai Indians     field
..                     ...       ...
607          Gujarat Lions     Field
619        Kings XI Punjab     Field
622  Kolkata Knight Riders     Field
634  Kolkata Knight Riders     Field
635         Mumbai Indians     Field

[66 rows x 6 columns]

In [76]:
# bat winner:
Venue = "M Chinnaswamy Stadium"
df1 = df[(df["Venue_Name"] == Venue)]
df2 = df1[['Team1', 'Team2', 'Venue_Name', 'Toss_Winner', 'match_winner', 'Toss_Name']]

df3 = df2[(df2["Toss_Winner"] == df2["match_winner"])&(df2["Toss_Name"] == "field")]
df4 = df2[(df2["Toss_Winner"] != df2["match_winner"])&(df2["Toss_Name"] == "bat")]
print(len(df3.index) + len(df4.index))

df5 = df2[(df2["Toss_Winner"] == df2["match_winner"])&(df2["Toss_Name"] == "bat")]
df6 = df2[(df2["Toss_Winner"] != df2["match_winner"])&(df2["Toss_Name"] == "field")]
print(len(df4.index) + len(df6.index))

32
28

In [42]:
team_name = "Royal Challengers Bangalore"
df1 = df[(df["id"] < 100) & (df["Team1"] == team_name)]
df1.head(2)

,id,Team1,Team2,match_date,Season_Year,Venue_Name,City_Name,Country_Name,Toss_Winner,match_winner,Toss_Name,Win_Type,Outcome_Type,ManOfMach,Win_Margin
0,0,Royal Challengers Bangalore,Kolkata Knight Riders,4/18/2008,2008,M Chinnaswamy Stadium,Bangalore,India,Royal Challengers Bangalore,Kolkata Knight Riders,field,runs,Result,BB McCullum,140.0
10,10,Royal Challengers Bangalore,Rajasthan Royals,4/26/2008,2008,M Chinnaswamy Stadium,Bangalore,India,Rajasthan Royals,Rajasthan Royals,field,wickets,Result,SR Watson,7.0

In [44]:
# df.columns
df2 = df1['Team1', 'Team2', 'match_date', 'Season_Year', 'Venue_Name',
       'City_Name', 'Country_Name', 'Toss_Winner', 'match_winner', 'Toss_Name',
       'Win_Type', 'Outcome_Type', 'ManOfMach', 'Win_Margin']

Index(['id', 'Team1', 'Team2', 'match_date', 'Season_Year', 'Venue_Name',
       'City_Name', 'Country_Name', 'Toss_Winner', 'match_winner', 'Toss_Name',
       'Win_Type', 'Outcome_Type', 'ManOfMach', 'Win_Margin'],
      dtype='object')

In [46]:
df3 = df1[['Team1', 'Team2', 'Venue_Name', 'Toss_Winner', 'match_winner', 'Toss_Name']]
df3.head(2)
df3.group_by("Venue")

,Team1,Team2,Venue_Name,Toss_Winner,match_winner,Toss_Name
0,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,field
10,Royal Challengers Bangalore,Rajasthan Royals,M Chinnaswamy Stadium,Rajasthan Royals,Rajasthan Royals,field

In [52]:
Venue = "M Chinnaswamy Stadium"
df4 = df[(df["Venue_Name"] == Venue)]
df4

,id,Team1,Team2,match_date,Season_Year,Venue_Name,City_Name,Country_Name,Toss_Winner,match_winner,Toss_Name,Win_Type,Outcome_Type,ManOfMach,Win_Margin
0,0,Royal Challengers Bangalore,Kolkata Knight Riders,4/18/2008,2008,M Chinnaswamy Stadium,Bangalore,India,Royal Challengers Bangalore,Kolkata Knight Riders,field,runs,Result,BB McCullum,140.0
10,10,Royal Challengers Bangalore,Rajasthan Royals,4/26/2008,2008,M Chinnaswamy Stadium,Bangalore,India,Rajasthan Royals,Rajasthan Royals,field,wickets,Result,SR Watson,7.0
14,14,Royal Challengers Bangalore,Chennai Super Kings,4/28/2008,2008,M Chinnaswamy Stadium,Bangalore,India,Chennai Super Kings,Chennai Super Kings,bat,runs,Result,MS Dhoni,13.0
24,24,Royal Challengers Bangalore,Kings XI Punjab,05-05-2008,2008,M Chinnaswamy Stadium,Bangalore,India,Kings XI Punjab,Kings XI Punjab,field,wickets,Result,S Sreesanth,6.0
30,30,Royal Challengers Bangalore,Mumbai Indians,5/28/2008,2008,M Chinnaswamy Stadium,Bangalore,India,Mumbai Indians,Mumbai Indians,field,wickets,Result,CRD Fernando,9.0
44,44,Royal Challengers Bangalore,Delhi Daredevils,5/19/2008,2008,M Chinnaswamy Stadium,Bangalore,India,Delhi Daredevils,Delhi Daredevils,field,wickets,Result,SP Goswami,5.0
51,51,Royal Challengers Bangalore,Deccan Chargers,05-03-2008,2008,M Chinnaswamy Stadium,Bangalore,India,Deccan Chargers,Royal Challengers Bangalore,field,runs,Result,P Kumar,3.0

In [109]:
df2 = df1[['Team1', 'Team2', 'Venue_Name', 'Toss_Winner', 'match_winner', 'Toss_Name']]

<ipython-input-109-f4cec40f5baf>:1: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  df2 = df1[['Team1', 'Team2', 'Venue_Name', 'Toss_Winner', 'match_winner', 'Toss_Name']]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [108]:
df2.dropna(axit = 1)

AttributeError: 'list' object has no attribute 'dropna'

In [107]:
df1 = df["Venue_Name"].unique()
df1.dropna(axis = 1)

AttributeError: 'numpy.ndarray' object has no attribute 'dropna'

In [105]:
df2 = df1.tolist()
df2

['M Chinnaswamy Stadium',
 'Barabati Stadium',
 'Rajiv Gandhi International Stadium Uppal',
 'Punjab Cricket Association Stadium, Mohali',
 'Saurashtra Cricket Association Stadium',
 'Punjab Cricket Association IS Bindra Stadium, Mohali',
 'Wankhede Stadium',
 'Sawai Mansingh Stadium',
 'Punjab Cricket Association IS Bindra Stadium Mohali',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Rajiv Gandhi International Stadium, Uppal',
 'Shaheed Veer Narayan Singh International Stadium',
 'Subrata Roy Sahara Stadium',
 "St George's Park",
 'SuperSport Park',
 nan,
 'Brabourne Stadium',
 'Sharjah Cricket Stadium',
 'Himachal Pradesh Cricket Association Stadium',
 'Nehru Stadium',
 'Green Park',
 'OUTsurance Oval',
 'De Beers Diamond Oval',
 'New Wanderers Stadium',
 'Buffalo Park',
 'Holkar Cricket Stadium',
 'Kingsmead',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Newlands',
 'Dr DY Patil Sports Academy',
 'MA Chidambaram Stadium, Chepauk',
 'JSCA International Stadium Complex',
 'Dubai International Cricket Stadium',
 'Eden Gardens',
 'Maharashtra Cricket Association Stadium',
 'Feroz Shah Kotla',
 'Sheikh Zayed Stadium',
 'Sardar Patel Stadium, Motera']